<ion-header >
  <ion-toolbar color='primary'>
    <ion-title>Films</ion-title>
    <ion-searchbar #search (ionChange)='searchFilm(search.value)'></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="takePhoto()" >
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top  color='primary'>
    <ion-segment [(ngModel)]="filmSelection" (ionChange)='getSelection(filmSelection)'>
      <ion-segment-button value="top_rated" class='options_button'>
        <ion-label>Meilleurs notes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="upcoming" class='options_button'>
        <ion-label>Prochain</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding class='page-content'>

  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-2 *ngFor='let film of films' >

    <ion-card class='card'  class="film-info" (click)='goToDetails(film.id)'>

      <img  [src]="'https://image.tmdb.org/t/p/w500'+film.poster_path"/>

      <div class="card-subtitle">
        <ion-row>
          <ion-col>
              <ion-icon name="star"></ion-icon>
              <div>{{film.vote_average}}</div>
          </ion-col>
          <ion-col>
              <ion-icon name="calendar"></ion-icon>
              <div>{{film.release_date | date: 'yyyy'}}</div>
          </ion-col>
        </ion-row>
      </div>

    </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>

 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>



</ion-content>